{% extends "master.html" %}
{% load static %}

{% block title %}
  {{ region }} - Population 
{% endblock %}


{% block content %}
   
	  <!-- body code goes here -->
<div class="sectionmiddle">
		<div class="datasection" id="address-bar">
  <div class="address"> 
	  <!--address-->
<p>{{region}}</p>
    </div>
			</div>
	<div class="regionname" id="region-name"> 
		<!--regionname--> 
		<h1>
{{ region_name }}
		</h1>
	</div> 
	  
	<div class="datasection" id="live-population">
	<h2>Population Counter:</h2>
		<!--Load Live Counters-->
	  <script language="javascript" type="text/javascript" src=
"{% static 'components/live_counters/new_south_wales_livepop.js' %}"
			  ></script>
      <script> 
addLoadEvent(new_south_wales_livepop);
      </script>	
		<div class="livepop"> 
			{{ population }}
			</div>
		<!--live population text-->
<p> <strong>{{ region_name }}</strong> is located in <strong>{{ region_state }}</strong> and considered as a state. The 2021 population estimate for <strong>{{ region_name }}</strong> is {{ population }}. The population of <strong>{{ region_name }}</strong> is collected during censuses, every five years. In the last census in <strong>2016</strong>, <strong>{{ region_name }}</strong> had a population of <strong>7,480,230</strong> persons. The live population is calculated using growth rate between 2011 and 2016 and national adjustments after 2016.</p>
		</div>
	<div class="datasection" id="interactive-map" >
	<h2>Map:</h2>
		<!--region area-->
<p><strong>{{ region_name }}</strong> has an area of <strong> {{region_area}} km<sup>2</sup></strong>, which provides a population density of <strong>{{population_density}} </strong>persons in each square kilometre. Below map presents the area and borders of <strong>{{ region_name }}</strong>.</p>
	<!--interactive map-->
	<img src=
"{% static 'components/map/1.png' %}"
alt="map of {{ region_name }}"
		 class="rounded img-fluid"/> 
		</div>
<div class="datasection" id="neighbours">
	  <h2>Neighbours:</h2>
	<!--regions table-->
	<p><strong>Australia</strong> includes 8 states and territories. The table below shows the population in <strong>2016</strong>. Click on each region to see the live population and related cities and sububrs.</p>
	<table class="gmisc_table" style="border-collapse: collapse; margin-top: 1em; margin-bottom: 1em;" > <thead> <tr> <th style="border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: left;">Region</th> <th style="border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: right;">Area (km<sup>2</sup>)</th> <th style="border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: right;">Population</th> </tr> </thead> </table>

			</div>



{% endblock %}